:root {
    --text-color: #000;
    --black-color: #000;
    --white-color: #FFF;
    --red-color: #F44336;
    --gray-hover-color: #ccc;
    --gray-text-color: #757575;

    --header-height: 46px;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

p {
    margin: 15px 0;
}

.black-bg {
    background-color: var(--black-color) !important;
}

.white-text {
    color: var(--white-color) !important;
}

.active {
    display: unset !important;
}

.btn {
    border: none;
    text-decoration: none;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 8px 16px;
    cursor: pointer;
}

.btn:hover {
    color: var(--black-color);
    background-color: var(--gray-hover-color);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background-color: var(--black-color);
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


/* Header - Nav */
.header .nav__item {
    display: inline-block;
    position: relative;
}

.header .nav__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white-color);
    padding: 12px 24px;
}

.header .nav__link:hover {
    color: var(--black-color);
    background-color: var(--gray-hover-color);
}


/* Header - Nav - Subnav */
.header .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: var(--white-color);
    display: none;
}

.header .subnav__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
}

.header .subnav__link:hover {
    background-color: var(--gray-hover-color);
}

.nav__item--has-subnav:hover .subnav{
    display: block !important;
}

.nav__item--has-subnav:hover .nav__link {
    color: var(--black-color);
    background-color: var(--gray-hover-color);
}


/* Header - Search button */
.search-btn__link {
    display: block;
    text-decoration: none;
    color: var(--white-color);
    padding: 12px 24px;
}

.search-btn__link:hover {
    background-color: var(--red-color);
}


/* Content */
.content {
    /* height: 1000px;
    background-color: #666; */
    margin-top: var(--header-height);
}


/* Content - Slider */
.content .slider__img {
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.content .slider__content {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--white-color);
    text-shadow: 1px solid rgba(0, 0, 0, .6);
}

.content .slider__content h3 {
    font-size: 24px;
}

.content .slider__content p {
    font-weight: bolder;
}

/* Content - Container */
.content-container {
    padding: 64px 16px;
}

.content-container__header {
    text-align: center;
}

.content-container__header h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.content-container__header p {
    font-style: italic;
    opacity: .6;
}

/* Content - #Band */
.band__description {
    text-align: justify ;
}

.band__member {
    padding: 32px 0;
}

.band__member-item {
    text-align: center;
}

.band_member-img {
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
}


/* Content - #tour */
.tour__list {
    color: var(--gray-text-color);
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, .2);
}

.tour__item {
    padding: 8px 24px 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: start;
    align-items: center;
}

.tour__item:last-child {
    border: none;
}

.sold-out {
    color: var(--white-color);
    background-color: var(--red-color);
    padding: 0 8px;
    margin-left: 16px;
    display: none;
}

.quantity {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 0 8px;
    border-radius: 50%;
    display: none;
    margin-left: auto;
}

.ticket__list {
    padding: 32px 0;
}

.ticket__item {
    background-color: var(--white-color);
    margin-bottom: 16px;
}

.ticket__item-img {
    width: 100%;
}

.ticket__item-img:hover {
    filter: brightness(50%);
}

.ticket__item-wrap {
    padding: 0 16px 16px;
}

.ticket__item-place {
    font-weight: bolder;
}

.ticket__item-time {
    opacity: .6;
}


/* Content - Contact */
.contact__wrap {
    padding: 32px 0;
}

.contact__info {
    font-size: 17px;
    margin-bottom: 16px;
}

.contact__info-icon {
    width: 30px;
}

.form-control {
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    font-size: 15px;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, .2) ;
}

.form-control-btn {
    float: right;
    font-size: 15px;
    line-height: 1.5;
}

.form-control-btn::after {
    content: '';
    display: block;
    clear: both;
}


/* Content- map */
.map {
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    filter: grayscale(50%);
}


/* Footer */
.footer {
    min-height: 216px;
    text-align: center;
    padding: 64px;
    color: var(--gray-text-color);
}


/* Footer - Social */
.footer .social__item {
    display: inline-block;
}

.footer .social__link {
    display: block;
    text-decoration: none;
    color: var(--gray-text-color);
    padding: 0 1px;
}

.footer .social__link:hover {
    opacity: .6;
}

.footer .social__icon {
    font-size: 24px;
}


/* Footer - Copy-right */

.footer .copy-right__link {
    color: var(--gray-text-color);
}